// _base.scss

body {
	font-family: font(primary);
	background: url('../../images/bg.jpg') no-repeat fixed;
	background-size: cover;
}

.container {
	width: 1090px;
	margin: auto;
}

.mg-top {
	margin-top: 60px;
}