  <!DOCTYPE html>
  <html lang="fr">
    <head>
    <meta charset="UTF-8">
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!--Personalize CSS -->
      <link type="text/css" rel="stylesheet" href="css/hackIT.css"  media="screen,projection"/>
    </head>

    <body>
    <div class="resume-container hide-on-small-only">
      <ul class="section table-of-contents">
        <li><a href="#start">Commencer</a></li>
        <li><a href="#description">Le principe</a></li>
        <li><a href="#hackers">Le devoir</a></li>
        <li><a href="#people">L' équipe</a></li>
      </ul>
    </div>

  <canvas class='connecting-dots'></canvas>
  
  <div id="index-banner" class="parallax-container">
    <div id="start"class="section section scrollspy no-pad-bot">
      <div class="container start">
        <h1 class="header center white-text text-lighten-2"><span class="bold-text">FRANCE•TV 360</span></h1>
        <div class="row center">
          <a href="test.html" id="start-button" class="btn-large waves-effect waves-light lighten-1 white-text">Commencer</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/earth2.png" alt="Unsplashed background Hack IT"></div>
  </div>

  <div class="black-background white-text">
    <div class="container">
      <div id="description" class="section scrollspy">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center white-text"><i class="material-icons presentation-icons">explore</i></h2>
              <h5 class="center">Explorer</h5>
              <p class="light center">FRANCE•TV 360 est un outil nouveau vous proposant d'explorer l'information de manière ludique.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center white-text"><i class="material-icons presentation-icons">3d_rotation</i></h2>
              <h5 class="center">Intéragir</h5>
              <p class="light center">À travers une modélisation 3D de notre planète, manipulez le globe pour trouver les points d'intérêts vous intéressant.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center white-text"><i class="material-icons presentation-icons">info</i></h2>
              <h5 class="center">Informer</h5>
              <p class="light center">Sélectionnez le pin pour trouver le contenu correspondant. Vous pouvez partager à tout moment le contenu vous inspirant.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row right"> 
          <h5 class="header center white-text col s12 light">"Le savoir se perd avec celui qui néglige de le transmettre." </br></br><span>- Romain Guilleaumes</span></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>
<div class="black-background white-text">
  <div class="container">
    <div id="hackers" class="section scrollspy">
      <div class="row">
        <div class="col s12 center">
          <h4 class="white-text">Le devoir journalistique</h4>
          <p class="left-align light">Le droit à l’information, à la libre expression et à la critique est une des libertés fondamentales de tout être humain.
Ce droit du public de connaître les faits et les opinions procède l’ensemble des devoirs et des droits des journalistes. La mission d'information comporte nécessairement des limites que les journalistes eux-mêmes s'imposent spontanément. Tel est l'objet de la déclaration des devoirs formulée ici. Mais ces devoirs ne peuvent être effectivement respectés dans l'exercice de la profession de journaliste que si les conditions concrètes de l'indépendance et de la dignité professionnelle sont réalisées. Tel est l'objet de la déclaration des devoirs et des droits, qui suit.</a> </p>
          <p class="thin-text">Référence : <a target="_blank" href="https://fr.wikipedia.org/wiki/Charte_de_Munich">Charte de Munich</a></h5>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row left">
          <h5 class="header center col s12 light">"War is peace. Freedom is slavery. Ignorance is strength." </br></br> - George Orwell</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/background2.1.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <div class="container">
    <div id="people" class="section scrollspy">

      <div class="row">
        <div class="col s12 center">
          <h4>L' équipe</h4>
          </br>
          <div class="container"> 
            <div class="row">
              <div class="col s12 m4">
                <div class="icon-block">
                  <div class="center white-text"><img src="images/jigme.jpg" class="people-picture"/></div>
                  <h5 class="center">Jigme</h5>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
                  <div class="center white-text"><img src="images/ben.jpg" class="people-picture"/></div>
                  <h5 class="center">Benjamin</h5>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
                  <div class="center white-text"><img src="images/maily.jpg" class="people-picture"/></div>
                  <h5 class="center">Maily</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col s12 m3 offset-m3">
              <div class="icon-block">
                <div class="center white-text"><img src="images/alex.jpg" class="people-picture"/></div>
                <h5 class="center">Alexandre</h5>
              </div>
            </div>

            <div class="col s12 m3 ">
              <div class="icon-block">
                <div class="center white-text"><img src="images/thibault.jpg" class="people-picture"/></div>
                <h5 class="center">Thibault</h5>
              </div>
            </div>
            
          </div>

          <img src="images/ecv.png" class="ecv-logo"/>
          <p class="center light">Nous sommes cinq étudiants de l'école ECV-DIGITAL. Dans le cadre de l'appel d'offre mené par FRANCE•TV, nous avons imaginé cet outil pour répondre à la problématique suivante :</p>
            <h5>Réinventer la télévision de demain...</h5>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer black">
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
</footer>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script>

            $(document).ready(function(){
            $('.parallax').parallax();
            $('.scrollspy').scrollSpy();
            });

            var canvasDots = function() {
            var canvas = document.querySelector('canvas'),
                ctx = canvas.getContext('2d'),
                colorDot = '#CECECE',
                color = '#CECECE';
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            canvas.style.display = 'block';
            ctx.fillStyle = colorDot;
            ctx.lineWidth = .1;
            ctx.strokeStyle = color;

            var mousePosition = {
                x: 30 * canvas.width / 100,
                y: 30 * canvas.height / 100
            };

            var dots = {
                nb: 600,
                distance: 60,
                d_radius: 100,
                array: []
            };

            function Dot(){
                this.x = Math.random() * canvas.width;
                this.y = Math.random() * canvas.height;

                this.vx = -.5 + Math.random();
                this.vy = -.5 + Math.random();

                this.radius = Math.random();
            }

            Dot.prototype = {
                create: function(){
                    ctx.beginPath();
                    ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
                    ctx.fill();
                },

                animate: function(){
                    for(i = 0; i < dots.nb; i++){

                        var dot = dots.array[i];

                        if(dot.y < 0 || dot.y > canvas.height){
                            dot.vx = dot.vx;
                            dot.vy = - dot.vy;
                        }
                        else if(dot.x < 0 || dot.x > canvas.width){
                            dot.vx = - dot.vx;
                            dot.vy = dot.vy;
                        }
                        dot.x += dot.vx;
                        dot.y += dot.vy;
                    }
                },

                line: function(){
                    for(i = 0; i < dots.nb; i++){
                        for(j = 0; j < dots.nb; j++){
                            i_dot = dots.array[i];
                            j_dot = dots.array[j];

                            if((i_dot.x - j_dot.x) < dots.distance && (i_dot.y - j_dot.y) < dots.distance && (i_dot.x - j_dot.x) > - dots.distance && (i_dot.y - j_dot.y) > - dots.distance){
                                if((i_dot.x - mousePosition.x) < dots.d_radius && (i_dot.y - mousePosition.y) < dots.d_radius && (i_dot.x - mousePosition.x) > - dots.d_radius && (i_dot.y - mousePosition.y) > - dots.d_radius){
                                    ctx.beginPath();
                                    ctx.moveTo(i_dot.x, i_dot.y);
                                    ctx.lineTo(j_dot.x, j_dot.y);
                                    ctx.stroke();
                                    ctx.closePath();
                                }
                            }
                        }
                    }
                }
            };

            function createDots(){
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                for(i = 0; i < dots.nb; i++){
                    dots.array.push(new Dot());
                    dot = dots.array[i];

                    dot.create();
                }

                dot.line();
                dot.animate();
            }

            window.onmousemove = function(parameter) {
                mousePosition.x = parameter.pageX;
                mousePosition.y = parameter.pageY;
            }

            mousePosition.x = window.innerWidth / 2;
            mousePosition.y = window.innerHeight / 2;

            setInterval(createDots, 1000/30);
        };

        window.onload = function() {
            canvasDots();
        };

      </script>
    </body>
  </html>